*{
    margin: 0  auto;
}

p{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
}

label{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

button{
    display: flex;
    margin: 10px auto;
}

input{
    display: flex;
    margin-bottom: 5px;
}